@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/assets/app.css';

// @import '~@swimlane/ngx-datatable/release/themes/material.css';
@import "~@swimlane/ngx-datatable/release/themes/bootstrap.css";
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

:host {
    /deep/m-portlet{
        display:none;
        &.show{
            display:block;
        }
    }
    /deep/ng2-smart-table{
        width: 100% !important;
    }
    /deep/mat-header-row.mat-table-sticky{
        background-color: #f2f2f2;
    }
    /deep/mat-header-cell.idRegistreCol{
        flex: 0 0 75px;
     }
     /deep/.ngx-datatable{
        width:100%;
    }
    
    .mat-raised-button{
        .mat-primary{
            background-color:red;
        }
    }
	/deep/.m-mat-alert.m-mat-alert--accent{
        background: #d4edda;
        font-weight: bold;
        .m-mat-alert__icon{
            i{
                color:#0c5460;
            }
        }
        .m-mat-alert__text{
            text-align: center;
            color:#0c5460;
            display: initial;
            
        }
        .m-mat-alert__close {
            button{
                span{
                    mat-icon{
                        &.mat-icon{
                            color:#0c5460;
                        }
                    }
                }
            }
        }
    }
}

.searcherImm{
    // margin-left:20px;
}

.m-form.m-form--group-seperator-dashed .m-form__group {
    box-shadow: 0px 1px 15px 1px rgba(69,65,78,0.08);
    border-bottom: initial !important;
background-color: #fff;
padding: 25px 3px;
margin-top: 2rem;
    label{
        font-weight: 500
    }
}
        .titol{
            background-color: white;
        padding: 25px;
        h3{
            display: flex;
width:80%;
align-items: center;

font-size: 1.3rem;

font-weight: 500;

font-family: Roboto;

margin: 0;

padding: 0;
color: #575962;
        }
        }
div.detall--parent__vpoAnticipa{
    padding: 25px;
    overflow-x: hidden;
}
button.back{
    position: fixed;

right: 2%;

bottom: 2%;

z-index: 99;
}
.col-lg-4{
    margin-bottom:20px;
}
input.codiSocietatInput{
    width:100%;
}
:host {
    /deep/m-scroll-top .m-scroll-top{
        bottom: 60px;
    }
    /deep/mat-form-field {
width: 100%;
    }
    /deep/mat-cell.mat-column-actions {
cursor: pointer;
    }
    /deep/mat-cell.mat-column-X_CODI_IMMOBLE {
cursor: pointer;
text-decoration:underline;
color: #df0000;
    }
    /deep/mat-radio-button {
        width: 33%;
        float: left;
        padding: 0;
        margin: 0;
    }
    /deep/mat-radio-group {
width: 100%;
    }
}
span{

    padding-left: 20px;
    font-size: 1.1rem;
    &.upload.procesado{
    color: #34bfa3;
    }
}
button.btnDetall{
    float: right;

display: flex;

flex: content;
}
label{
    &.m-checkbox--solid,&.m-checkbox--bold{
        width: 33.3%;
        &.estado__numero1{color:#34bfa3;font-weight: 500;}
        &.estado__numero2{color:#716aca;font-weight: 500;}
        &.estado__numero3{color:#df0000;font-weight: 500;}
        &.estado__numero4{color:#fff70f;font-weight: 500;}
        &.estado__numero5{color:#248f00;font-weight: 500;}
        &.estado__numero6{color:#00028f;font-weight: 500;}
    }
}
span{
    &.inputState{
        width:20px;
        height:20px;
    }
}
h4{
    margin-bottom: 10px;
}

.m-radio > span {
    width:20px;
    height: 20px;
}

.mat-table__wrapper {
    min-height: 10px;
    max-height: 800px;
    overflow: auto;
  }
  
  table {
    width: 100%;
  }
  mat-header-cell.actions{
    width:2%
 }

 h3.m-portlet__head-text{
     background: initial;
 }
 .detall--parent__vpoAnticipa h3{
     background: initial!important;
     color:#575962;
     line-height: 10px;
     text-transform: uppercase;
    }
.detall--parent__vpoAnticipa .form-group span.form-control {
    border: 0px solid;
    padding-left: 0;
}